table{  
    border-collapse: collapse;  
    width: 50%;  
    margin-left: 300px;
}  
table th{  
    background-color: yellow;  
	padding: 10px;  
}  
table td{  
    padding: 12px;  
	font-size: 1em;  
    text-align: center;  
}  
table tr{  
    background-color: pink;  
}
/*td:nth-child(even) {
            background-color: Lightgreen;
        }*/
container {
  padding: 16px;
  background-color: white;
}